<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% @warehouses.each do |shed| %>
  <%= link_to shed.name, shed_path(shed.id) %>
  <%= "code: #{shed.code}" %>
  <%= "city: #{shed.city}" %>
  <%= "#{shed.area} m2" %>
<% end %>
